<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise page</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        user-select: none;
    }
    body {
        background: #1e1e1e;
        font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
        color: white;
    }
    .exercise {
        background-color: #23262f;
        width: 97%;
        height: auto;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        gap: 5px;
        margin: 20px 0 20px 5px;
        flex-wrap: wrap;
    }

    .answer-blank {
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;

        min-width: 50px;
        padding: 4px 10px;
        background: #2e2f36;
        border-radius: 6px;
        border: 1px solid #444;
        cursor: pointer;
        transition: .2s;
        font-size: 17px;
    }

    .answer-blank.active {
        background: #f2b100;
        color: #000;
    }

        .options-panel {
            margin-top: 25px;
            width: 99%;
            display: flex;
            gap: 12px;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            margin-bottom: 20px;
            z-index: 5;
            background: #1e1e1e;
        }

        .option-btn {
        background: #2f323d;
        border-radius: 8px;
        border: none;
        padding: 12px 30px;
        font-size: 18px;
        cursor: pointer;
        transition: .2s;
        color: white;
        }

        .option-btn:hover {
        background: #3d4252;
        }
    .success {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #23262f;
        display: flex;
        justify-content: space-between;
        padding: 24px;
    }

    .error {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #23262f;
        display: flex;
        justify-content: space-between;
        padding: 24px;
    }

    .condition {
        margin: 15px 0 10px 10px;
    }

    .questions {
        margin: 5px;
    }

    input {
        outline: none;
        padding: 0 8px !important;
        min-width: 70px;
        width: auto;
        box-sizing: content-box;
        height: 20px;
        border-radius: 6px;
        border: 0.5px solid  #323945;
        background: #323945;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        transition: .1s background cubic-bezier(.25,0,.3,1);
        color: #fff;
    }

    input:focus {
        color: #141416;
        border: 0.5px solid #ffcf00;
        background: #ffcf00;
    }

    div.line {
        text-decoration: line-through;
    }

    .check {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 20px;
        width: 250px;
        height: 48px;
        -moz-box-align: centre;
        border-radius: 16px;
        background: #353945;
        color: #23262f;
        outline: none;
        border: none;
        font-size: 15px;
        font-weight: 500;
        transition: .1s background cubic-bezier(.25,0,.3,1);
        cursor: not-allowed;
    }

    .check.active {
        background: #ffcf00;
        cursor: pointer;
    }

    .loader {
      width: 15px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 8px solid #0000;
      border-right-color: #ffa50097;
      position: relative;
      animation: l24 1s infinite linear;
    }
    .loader:before,
    .loader:after {
      content: "";
      position: absolute;
      inset: -8px;
      border-radius: 50%;
      border: inherit;
      animation: inherit;
      animation-duration: 2s;
    }
    .loader:after {
      animation-duration: 4s;
    }
    @keyframes l24 {
      100% {transform: rotate(1turn)}
    }

    .back {
        background: gray;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: inline-block;
        font-size: 25px;
        text-align: center;
        cursor: pointer;
    }

    header {
        padding: 10px;
    }

</style>
<body>
<header>
    <span class="back">←</span>
</header>
<p class="condition"></p>
<div class="exercise">
</div>
<script>
    const body = document.querySelector('body')
    const checkBtn = document.createElement('button')
    const queryString = window.location.search;
    const params = new URLSearchParams(queryString);
    const backBtn = document.querySelector('.back')
    const id = params.get('id')
    const weekId = params.get('week_id')
    checkBtn.innerHTML = 'Check'
    checkBtn.classList.add('check')
    checkBtn.disabled = true
    body.appendChild(checkBtn)

    let answers = {
        exercise_id: id,
        week_id: weekId,
        results: Array()
    }

    checkBtn.addEventListener('click', () => {
        const answerBlanks = document.querySelectorAll('.answer-blank')
        console.log(answerBlanks.length)
        answerBlanks.forEach(answer => {
            answer.style.pointerEvents = 'none'
            const cleanAnswers = answer.dataset.answers.replace(/[’‘]/g, "'");
            const value = answer.dataset.value ?? answer.value
            const cleanValue = value.replace(/[’‘]/g, "'");
            let failed = true
            if (cleanAnswers.split(',').map(a => a.trim().toLowerCase()).includes(cleanValue.trim().toLowerCase())) {
                answer.style.background = '#329961'
                failed = false
            } else {
                answer.style.background = '#c91d57'
            }
            const questionResult = {
                question_id: answer.dataset.questionId,
                failed: failed
            }
            answers.results.push(questionResult)
        })
        checkBtn.remove()
        const submitBtn = document.createElement('button')
        submitBtn.classList.add('check')
        submitBtn.classList.add('active')
        submitBtn.innerHTML = 'Save and Submit...'
        body.appendChild(submitBtn)
        submitBtn.addEventListener('click', async () => {
            submitBtn.innerHTML = ''
            submitBtn.classList.remove('active')
            submitBtn.disabled = true
            const text = document.createElement('div')
            text.innerHTML = 'Saving... '
            submitBtn.appendChild(text)
            submitBtn.style.display = 'block ruby'
            submitBtn.style.fontSize = '22px'
            const loader = document.createElement('div')
            loader.classList.add('loader')
            submitBtn.appendChild(loader)
            const response = await fetch('/student/save-exercise-results', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(answers)
            })
            const result = await response.json()
            loader.remove()
            text.innerHTML = 'Saved'
            backBtn.click()
        })
    })
    let correctAudio = 0
    let inCorrectAudio = 0
    async function fetchVoice() {
        if (correctAudio == 0 || inCorrectAudio == 0) {
             const success = await fetch('/success')
             const correctBlob = await success.blob()
             const correctUrl = URL.createObjectURL(correctBlob)
             correctAudio = new Audio(correctUrl)

             const incorrect = await fetch('/incorrect')
             const inCorrectBlob = await incorrect.blob()
             const inCorrectUrl = URL.createObjectURL(inCorrectBlob)
             inCorrectAudio = new Audio(inCorrectUrl)
        }
    }
    async function fetchExercise() {
        const response = await fetch(`/student/get-exercise?id=${id}`)
        const result = await response.json()
        const condition = document.querySelector('.condition')
        condition.innerHTML = result.exercise.condition
        const exerciseDiv = document.querySelector('.exercise');
        let currentExercise = 1;
        function addLabel (targetSpan, correct=true) {
            targetSpan.style.pointerEvents = 'none'
            if (correct == true) {
                targetSpan.style.backgroundColor = '#329961'
            } else {
                targetSpan.style.backgroundColor = '#c91d57'
            }
            const successDiv = document.createElement('div');
            if (correct == true) {
                successDiv.classList.add('success')
            } else {
                successDiv.classList.add('error')
            }
            const elements = document.createElement('div')
            elements.classList.add('elements')

            const leftElements = document.createElement('div')
            leftElements.style.display = 'flex'
            leftElements.style.alignItems = 'center'
            leftElements.style.gap = '24px'
            leftElements.classList.add('left')

            const iconDiv = document.createElement('div')
            let icon = 0
            if (correct == true) {
                icon = '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" fill="none"><path d="M16 .703C7.55.703.7 7.553.7 16.003c0 8.45 6.85 15.3 15.3 15.3 8.45 0 15.3-6.85 15.3-15.3 0-8.45-6.85-15.3-15.3-15.3z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M.7 16.003C.7 7.553 7.55.703 16 .703c8.45 0 15.3 6.85 15.3 15.3 0 8.45-6.85 15.3-15.3 15.3-8.45 0-15.3-6.85-15.3-15.3zm21.847-2.772a1.391 1.391 0 00-1.967-1.967l-6.51 6.51-2.632-2.736a1.391 1.391 0 00-2.003 1.93l3.616 3.756a1.393 1.393 0 001.985.018l7.511-7.511z" fill="#329961"></path></svg>'
            } else {
                icon = '<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 32 32" fill="none"><path d="M16 31.303c8.45 0 15.3-6.85 15.3-15.3 0-8.45-6.85-15.3-15.3-15.3C7.55.703.7 7.553.7 16.003c0 8.45 6.85 15.3 15.3 15.3z" fill="#c91d57"></path><path d="M9.873 22.087a1.7 1.7 0 002.42 0l3.666-3.665 3.665 3.665a1.712 1.712 0 102.42-2.42L18.38 16l3.665-3.665a1.711 1.711 0 10-2.421-2.42l-3.665 3.665-3.665-3.666a1.712 1.712 0 00-2.421 2.421l3.665 3.665-3.665 3.666a1.7 1.7 0 000 2.42z" fill="#fff"></path></svg>'
            }
            iconDiv.innerHTML = icon

            const answerDiv = document.createElement('div')
            answerDiv.classList.add('answer')

            const answerH3 = document.createElement('h3')
            if (correct == true) {
                answerH3.innerHTML = 'Correct Answer'
            } else {
                answerH3.innerHTML = 'Wrong Answer'
            }
            answerDiv.appendChild(answerH3)
            leftElements.appendChild(iconDiv)
            leftElements.appendChild(answerDiv)

            const rightElements = document.createElement('div')
            rightElements.classList.add('right')

            const nextBtn = document.createElement('button')
            nextBtn.classList.add('next')
            if (correct == true) {
                nextBtn.style.backgroundColor = '#329961'
            } else {
                nextBtn.style.backgroundColor = '#c91d57'
            }
            nextBtn.style.color = '#fff'
            nextBtn.style.cursor = 'pointer'
            nextBtn.style.width = '228px'
            nextBtn.style.height = '48px'
            nextBtn.style.borderRadius = '14px'
            nextBtn.style.border = 'none'
            nextBtn.style.fontSize = '17px'
            nextBtn.style.fontWeigh = '500'
            nextBtn.type = 'submit'

            nextBtn.addEventListener('click', () => {
                successDiv.remove()
                const exercises = document.querySelectorAll('.exercise');

                exercises.forEach(exercise => {
                    exercise.style.display = 'none';
                });
                if (currentExercise < exercises.length) {
                    exercises[currentExercise].style.display = 'flex';
                    currentExercise++;
                    const span = document.querySelector('.exercise[style="display: flex;"] span') ?? document.querySelector('.exercise[style="display: flex;"] input')
                    span.click()
                } else {
                    checkBtn.disabled = false
                    checkBtn.click()
                    const submit = document.querySelector('.check.active')
                    submit.click()
                }
            });

            const nextText = document.createElement('span')
            nextText.innerHTML = 'Next'

            nextBtn.appendChild(nextText)
            rightElements.appendChild(nextBtn)

            successDiv.appendChild(leftElements)
            successDiv.appendChild(rightElements)

            const body = document.querySelector('body')
            body.appendChild(successDiv)
        }

        function showOptions(options, targetSpan, type) {
            const panel = document.querySelector('.options-panel');
            panel.innerHTML = '';
            const body = document.querySelector('body')
            body.appendChild(checkBtn)

            options.forEach(opt => {
                const btn = document.createElement('button');
                btn.classList.add('option-btn');
                btn.textContent = opt;

                btn.onclick = () => {
                    targetSpan.textContent = opt;
                    targetSpan.dataset.value = opt;
                    panel.innerHTML = '';
                    targetSpan.classList.remove('active');
                    if (type == 11600) {
                        const blanks = Array.from(document.querySelectorAll('.answer-blank'));
                        const currentIndex = blanks.indexOf(targetSpan);
                        const nextBlank = blanks[currentIndex + 1];
                        if (nextBlank) {
                            checkBtn.remove()
                            nextBlank.click();

                            nextBlank.scrollIntoView({
                                behavior: "smooth",
                                block: "center"
                            });
                        }
                    } else if (type == 11700) {
                        targetSpan.classList.remove('active');
                        if (targetSpan.dataset.answers.split(',').includes(targetSpan.dataset.value)) {
                            correctAudio.currentTime = 0;
                            correctAudio.play();
                            addLabel(targetSpan);
                        } else {
                            inCorrectAudio.currentTime = 0;
                            inCorrectAudio.play();
                            addLabel(targetSpan, false);
                        }
                    }
                };

                panel.appendChild(btn);
            });
        }

        if (result.exercise.exercise_type == 11600) {
            const optionsPanel = document.createElement('div');
            optionsPanel.classList.add('options-panel')
            document.querySelector('body').appendChild(optionsPanel)
            for (question of result.exercise.questions) {
                for (q of question.field.question.split(' ')) {
                    if (q == '<br>') {
                        const br = document.createElement('div')
                        br.style.width = '100%'
                        exerciseDiv.appendChild(br)
                    }
                    else if (q != '{{ answerKey }}') {
                        const div = document.createElement('div');
                        div.classList.add('text')
                        const p = document.createElement('p')
                        p.innerHTML = `${q} `

                        div.appendChild(p)
                        exerciseDiv.appendChild(div)
                    }
                    else {
                        const span = document.createElement('span')
                        span.classList.add('answer-blank')
                        span.dataset.questionId = question['id']
                        span.dataset.options = JSON.stringify(question.field.options);
                        span.dataset.answers = question.field.correct_answers
                        span.style.minWidth = '70px';
                        span.style.border = 'none';
                        span.style.height = '22px';
                        exerciseDiv.appendChild(span);
                        span.addEventListener('click', () => {
                            document.querySelectorAll('.answer-blank').forEach(el => el.classList.remove('active'));
                            span.classList.add('active');
                            showOptions(JSON.parse(span.dataset.options), span, type=11600);
                        });
                    }
                }
            }
            const span = document.querySelector('.answer-blank');
            span.click()
        }
        else if (result.exercise.exercise_type == 11700) {
            const questions = document.createElement('div');
            questions.classList.add('questions')
            const body = document.querySelector('body');
            body.appendChild(questions)
            exerciseDiv.remove()
            const options = document.createElement('div');
            options.classList.add('options-panel')
            let i = 0
            for (question of result.exercise.questions) {
                i++
                const exerciseDiv = document.createElement('div');
                exerciseDiv.classList.add('exercise')
                if (i == 1) {
                    exerciseDiv.style.display = 'flex'
                } else {
                    exerciseDiv.style.display = 'none'
                }
                questions.appendChild(exerciseDiv)
                for (q of question.field.question.split(' ')) {
                    if (q != '{{ answerKey }}') {
                        const div = document.createElement('div');
                        div.classList.add('text')
                        const p = document.createElement('p')
                        p.innerHTML = `${q} `

                        div.appendChild(p)
                        exerciseDiv.appendChild(div)
                    }
                    else if (q == '<br>') {
                        const br = document.createElement('div')
                        br.style.width = '100%'
                        exerciseDiv.appendChild(br)
                    }
                    else {
                        const span = document.createElement('span')
                        span.classList.add('answer-blank')
                        span.dataset.questionId = question['id']
                        span.dataset.options = JSON.stringify(question.field.options);
                        span.dataset.answers = question.field.correct_answers
                        span.style.minWidth = '70px';
                        span.style.border = 'none';
                        span.style.height = '22px';
                        exerciseDiv.appendChild(span);
                        span.addEventListener('click', () => {
                            document.querySelectorAll('.answer-blank').forEach(el => el.classList.remove('active'));
                            span.classList.add('active');
                            showOptions(JSON.parse(span.dataset.options), span, type=11700);
                        });
                    }
                }
            }
            questions.appendChild(options)
            const span = document.querySelector('.answer-blank');
            span.click()
            await fetchVoice()
        }
        else if (result.exercise.exercise_type == 11500) {
            exerciseDiv.remove()

            const leftSideP = document.createElement('p')
            leftSideP.innerHTML = 'Left Side:&nbsp;'
            leftSideP.style.margin = '15px 0 -10px 10px'

            const rightSideP = document.createElement('p')
            rightSideP.innerHTML = 'Right Side:&nbsp;'
            rightSideP.style.margin = '0 0 -10px 10px'

            const body = document.querySelector('body')
            body.appendChild(leftSideP)

            const newExerciseDiv = document.createElement('div')
            newExerciseDiv.classList.add('exercise')
            body.appendChild(newExerciseDiv)
            body.appendChild(rightSideP)
            const newExerciseDiv2 = document.createElement('div')
            newExerciseDiv2.classList.add('exercise')
            body.appendChild(newExerciseDiv2)
            newExerciseDiv2.style.display = 'block'

            const leftOl = document.createElement('ol')
            leftOl.style.margin = '10px 0 0 20px'

            const answerSide = document.createElement('div');
            answerSide.classList.add('answers')
            const answersOl = document.createElement('ol')
            answersOl.style.margin = '30px'
            answerSide.appendChild(answersOl)
            body.appendChild(answerSide)

            for (question of result.exercise.questions) {
                const leftQuestion = document.createElement('li')
                leftQuestion.innerHTML = `${question['field']['left']} ...`
                leftOl.appendChild(leftQuestion)
                const rightQuestion = document.createElement('div')
                rightQuestion.innerHTML = question['field']['right']
                rightQuestion.addEventListener('click', () => {
                    rightQuestion.classList.toggle('line')
                })
                const br = document.createElement('br')
                newExerciseDiv2.appendChild(rightQuestion)
                newExerciseDiv2.appendChild(br)
                const answer = document.createElement('li')
                answer.style.marginBottom = '10px'
                answer.innerHTML = `${question['field']['left']} &nbsp; <input data-answers=${question['field']['correct_answer']} type="text" name="blank" class="answer-blank" question-id=${question['id']}>`
                answersOl.appendChild(answer)
            }

            const inputs = document.querySelectorAll('input[name="blank"]')

            function validateInputs() {
                const allFilled = Array.from(inputs).every(input => input.value.trim() !== '');

                if (allFilled) {
                    checkBtn.disabled = false
                    checkBtn.classList.add('active')
                } else {
                    checkBtn.disabled = true
                    checkBtn.classList.remove('active')
                }
            }

            inputs.forEach(input => {
                input.addEventListener('input', validateInputs)
            })
            validateInputs()
        } else if (result.exercise.exercise_type == 11800) {
            for (question of result.exercise.questions) {
                for (q of question.field.question.split(' ')) {
                    if (q == '<br>') {
                        const br = document.createElement('div')
                        br.style.width = '100%'
                        exerciseDiv.appendChild(br)
                    }
                    else if (q != '{{ answerKey }}') {
                        const div = document.createElement('div');
                        div.classList.add('text')
                        const p = document.createElement('p')
                        p.innerHTML = `${q} `

                        div.appendChild(p)
                        exerciseDiv.appendChild(div)
                    }
                    else {
                        const input = document.createElement('input')
                        input.name = 'blank'
                        input.classList.add('answer-blank')
                        input.dataset.questionId = question['id']
                        input.dataset.answers = question.field.correct_answers
                        input.style.minWidth = '70px';
                        input.style.border = 'none';
                        input.style.height = '22px';
                        exerciseDiv.appendChild(input)
                    }
            }

            const inputs = document.querySelectorAll('input[name="blank"]')

            function validateInputs() {
                const allFilled = Array.from(inputs).every(input => input.value.trim() !== '');

                if (allFilled) {
                    checkBtn.disabled = false
                    checkBtn.classList.add('active')
                } else {
                    checkBtn.disabled = true
                    checkBtn.classList.remove('active')
                }
            }

            inputs.forEach(input => {
                input.addEventListener('input', validateInputs)
            })
            validateInputs()
        }
        } else if (result.exercise.exercise_type == 11900) {

            alert('Sorry dear Student. Something went wrong. Please tell to Mr.Sardor about this error. Error code: 503')

<!--            const questions = document.createElement('div');-->
<!--            questions.classList.add('questions')-->
<!--            const body = document.querySelector('body');-->
<!--            body.appendChild(questions)-->
<!--            exerciseDiv.remove()-->
<!--            let i = 0-->
<!--            checkBtn.remove()-->
<!--            for (question of result.exercise.questions) {-->
<!--                i++-->
<!--                const exerciseDiv = document.createElement('div');-->
<!--                exerciseDiv.classList.add('exercise')-->
<!--                if (i == 1) {-->
<!--                    exerciseDiv.style.display = 'flex'-->
<!--                } else {-->
<!--                    exerciseDiv.style.display = 'none'-->
<!--                }-->
<!--                questions.appendChild(exerciseDiv)-->
<!--                for (q of question.field.question.split(' ')) {-->
<!--                    if (q != '{{ answerKey }}') {-->
<!--                        const div = document.createElement('div');-->
<!--                        div.classList.add('text')-->
<!--                        const p = document.createElement('p')-->
<!--                        p.innerHTML = `${q} `-->

<!--                        div.appendChild(p)-->
<!--                        exerciseDiv.appendChild(div)-->
<!--                    }-->
<!--                    else if (q == '<br>') {-->
<!--                        const br = document.createElement('div')-->
<!--                        br.style.width = '100%'-->
<!--                        exerciseDiv.appendChild(br)-->
<!--                    }-->
<!--                    else {-->
<!--                        const span = document.createElement('input')-->
<!--                        span.dataset.answers = question.field.correct_answers-->
<!--                        span.classList.add('answer-blank')-->
<!--                        exerciseDiv.appendChild(span);-->
<!--                        span.addEventListener('click', () => {-->
<!--                            document.querySelectorAll('.answer-blank').forEach(el => el.classList.remove('active'));-->
<!--                            span.classList.add('active');-->
<!--                        });-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--            const checkBtn2 = document.createElement('button')-->
<!--            checkBtn2.innerHTML = 'Check'-->
<!--            checkBtn2.classList.add('check')-->
<!--            checkBtn2.classList.add('active')-->
<!--            checkBtn2.addEventListener('click', () => {-->
<!--                span.classList.remove('active');-->
<!--                if (span.dataset.answers.split(',').includes(span.value)) {-->
<!--                    span.style.backgroundColor = '#329961'-->
<!--                    correctAudio.currentTime = 0;-->
<!--                    correctAudio.play();-->
<!--                    addLabel(span);-->
<!--                } else {-->
<!--                    span.style.backgroundColor = '#c91d57'-->
<!--                    inCorrectAudio.currentTime = 0;-->
<!--                    inCorrectAudio.play();-->
<!--                    addLabel(span, false);-->
<!--                }-->
<!--            })-->
<!--            body.appendChild(checkBtn2)-->
<!--            const span = document.querySelector('.answer-blank');-->
<!--            span.click()-->
<!--            await fetchVoice()-->
        } else if (result.exercise.exercise_type == 11000) {
            for (question of result.exercise.questions) {
                for (q of question.field.question.split(' ')) {
                    if (q == '<br>') {
                        const br = document.createElement('div')
                        br.style.width = '100%'
                        exerciseDiv.appendChild(br)
                    }
                    else if (q != '{{ answerKey }}') {
                        const div = document.createElement('div');
                        div.classList.add('text')
                        const p = document.createElement('p')
                        p.innerHTML = `${q} `

                        div.appendChild(p)
                        exerciseDiv.appendChild(div)
                    }
                    else {
                        const input = document.createElement('input')
                        input.name = 'blank'
                        input.classList.add('answer-blank')
                        input.dataset.questionId = question['id']
                        input.dataset.answers = question.field.correct_answers
                        input.style.minWidth = '70px';
                        input.style.border = 'none';
                        input.style.height = '22px';
                        exerciseDiv.appendChild(input)
                    }
            }

            const inputs = document.querySelectorAll('input[name="blank"]')

            function validateInputs() {
                const allFilled = Array.from(inputs).every(input => input.value.trim() !== '');

                if (allFilled) {
                    checkBtn.disabled = false
                    checkBtn.classList.add('active')
                } else {
                    checkBtn.disabled = true
                    checkBtn.classList.remove('active')
                }
            }

            inputs.forEach(input => {
                input.addEventListener('input', validateInputs)
            })
            validateInputs()
        }
        } else if (result.exercise.exercise_type == 11100) {
            alert('Sorry dear Student. Something went wrong. Please tell to Mr.Sardor about this error. Error code: 503. Exercise type: ${result.exercise.exercise_type}')
        } else if (result.exercise.exercise_type == 11200) {
            alert(`Sorry dear Student. Something went wrong. Please tell to Mr.Sardor about this error. Error code: 503. Exercise type: ${result.exercise.exercise_type}`)
        } else if (result.exercise.exercise_type == 11300) {
            alert('Sorry dear Student. Something went wrong. Please tell to Mr.Sardor about this error. Error code: 503. Exercise type: ${result.exercise.exercise_type}')
        }
    }

    backBtn.addEventListener('click', () => {
        window.location.href = `/student/week?id=${weekId}`
    })

fetchExercise()
</script>
</body>
</html>